<mat-card
  *ngFor="let q of quizes"
  style="margin-top: 10px; margin-left: 20px; margin-right: 20px"
>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ q.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ q.category.title }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ q.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-stroked-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
    >
      Max Marks: {{ q.maxMarks }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
    >
      Min Marks: {{ q.minMarks }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
    >
      Questions: {{ q.totalQuestion }}
    </button>
    <button
      mat-flat-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
    >
      Questions
    </button>
    <button
      mat-flat-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
    >
      Update
    </button>
    <button
      mat-flat-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
    >
      Attempts
    </button>
    <button
      mat-flat-button
      color="warn"
      style="margin-left: 1rem; margin-bottom: 10px"
      (click)="deleteQuizFun(q.qID)"
    >
      Delete Quiz
    </button>
  </mat-card-actions>
</mat-card>

<div class="container text-center" style="margin-top: 20px">
  <button
    routerLink="/admin-dashboard/add_quiz"
    mat-raised-button
    color="primary"
  >
    Add New Quiz
  </button>
</div>
