<div class="row">
  <div class="container text-center">
    <button
      mat-flat-button
      color="accent"
      style="margin-left: 1rem; margin-bottom: 10px"
      [routerLink]="
        '/admin-dashboard/view_quiz_questions/quizId_/' +
        quizId +
        '/quizTitle_/' +
        quizTitle
      "
    >
      Back
    </button>
  </div>
</div>

<div class="bootstrap-wrapper">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            Enter the detail of the new question
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="updateQuestionFunc()" style="margin-top: 20px">
            <!-- content field -->
            <mat-form-field class="w100">
              <mat-label>Write Question Content</mat-label>
              <textarea
                name="content"
                placeholder="Enter here"
                rows="5"
                required
                matInput
                [(ngModel)]="questionData.content"
              ></textarea>
            </mat-form-field>

            <!-- options -->
            <div class="row">
              <div class="col-md-6">
                <!-- option1 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option1</mat-label>
                  <input
                    type="text"
                    name="question1"
                    placeholder="Enter option1 here"
                    required
                    matInput
                    [(ngModel)]="questionData.option1"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!-- option2 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option2</mat-label>
                  <input
                    type="text"
                    name="question2"
                    placeholder="Enter option2 here"
                    required
                    matInput
                    [(ngModel)]="questionData.option2"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- option3 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option3</mat-label>
                  <input
                    type="text"
                    name="question3"
                    placeholder="Enter option3 here"
                    required
                    matInput
                    [(ngModel)]="questionData.option3"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!-- option4 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option4</mat-label>
                  <input
                    type="text"
                    name="question4"
                    placeholder="Enter option4 here"
                    matInput
                    required
                    [(ngModel)]="questionData.option4"
                  />
                </mat-form-field>
              </div>
            </div>

            <!-- answer -->
            <mat-form-field class="w100">
              <mat-label>Select Answer</mat-label>
              <mat-select
                name="answer"
                required
                [(ngModel)]="questionData.answer"
              >
                <mat-option
                  *ngIf="questionData.option1"
                  [value]="questionData.option1"
                  >{{ questionData.option1 }}</mat-option
                >
                <mat-option
                  *ngIf="questionData.option2"
                  [value]="questionData.option2"
                  >{{ questionData.option2 }}</mat-option
                >
                <mat-option
                  *ngIf="questionData.option3"
                  [value]="questionData.option3"
                  >{{ questionData.option3 }}</mat-option
                >
                <mat-option
                  *ngIf="questionData.option4"
                  [value]="questionData.option4"
                  >{{ questionData.option4 }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary">Update</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
