<mat-card *ngIf="user">
  <h3>Your Profile Details</h3>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
            src="https://www.computerhope.com/jargon/g/guest-user.png"
            alt=""
            class="profile-image"
          />
          <h1 class="mt20">{{ user.firstName }} {{ user.lastName }}</h1>
        </div>
        <div class="text-center">
          <div class="container col-md-10">
            <!-- table details -->
            <table>
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>UserId</td>
                <td>EXAM{{ user.id }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{ user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ user.enabled ? "ACTIVE" : "INACTIVE" }}</td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td>{{ user.phone }}</td>
              </tr>
              <tr>
                <td>First Name</td>
                <td>{{ user.firstName }}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{ user.lastName }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button
      mat-raised-button
      color="primary"
      (click)="routeToUpdateDetailsPageFun()"
    >
      UPDATE
    </button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
