<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <!-- home button -->
    <button mat-list-item routerLink="/admin-dashboard">
      <mat-icon mat-list-icon>home</mat-icon>
      Home
    </button>
    <!-- profile button -->
    <button mat-list-item routerLink="/admin-dashboard/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      Profile
    </button>
    <!-- categories button -->
    <button mat-list-item routerLink="/admin-dashboard/view_categories">
      <mat-icon mat-list-icon>dehaze</mat-icon>
      Categories
    </button>
    <!-- add categories button -->
    <button mat-list-item routerLink="/admin-dashboard/add_category">
      <mat-icon mat-list-icon>playlist_add</mat-icon>
      Add Category
    </button>
    <!-- remove categories button -->
    <button mat-list-item routerLink="/admin-dashboard/">
      <mat-icon mat-list-icon>playlist_remove</mat-icon>
      Remove Category
    </button>
    <!-- quizes button -->
    <button mat-list-item routerLink="/admin-dashboard/view_quizes">
      <mat-icon mat-list-icon>quiz</mat-icon>
      Quizes
    </button>
    <!-- add quizes button -->
    <button mat-list-item routerLink="/admin-dashboard/add_quiz">
      <mat-icon mat-list-icon>add_box</mat-icon>
      Add Quizes
    </button>
    <!-- remove quizes button -->
    <button mat-list-item routerLink="/admin-dashboard/">
      <mat-icon mat-list-icon>disabled_by_default</mat-icon>
      Remove Quizes
    </button>
  </mat-action-list>
</mat-card>
