<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/images/logo.png" alt="" />
          </div>
          <h1 class="text-center">Register Here !!!</h1>
          <!-- {{ user | json }} -->

          <form (ngSubmit)="formSubmit()">
            <!-- username field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input
                type="text"
                placeholder="Enter here"
                required
                name="username"
                [(ngModel)]="user.username"
                matInput
              />
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                type="password"
                placeholder="Enter here"
                required
                name="password"
                [(ngModel)]="user.password"
                matInput
              />
            </mat-form-field>

            <!-- first name field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                placeholder="Enter here"
                required
                name="firstName"
                [(ngModel)]="user.firstName"
                matInput
              />
            </mat-form-field>

            <!-- last name field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                placeholder="Enter here"
                required
                name="lastName"
                [(ngModel)]="user.lastName"
                matInput
              />
            </mat-form-field>

            <!-- email field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input
                type="email"
                placeholder="Enter here"
                required
                name="email"
                [(ngModel)]="user.email"
                matInput
              />
            </mat-form-field>

            <!-- phone field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input
                type="number"
                placeholder="Enter here"
                required
                name="phone"
                [(ngModel)]="user.phone"
                matInput
              />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Register
              </button>
              <button
                style="margin-left: 20px"
                mat-raised-button
                color="accent"
              >
                Clear
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
